.js-slider__handler {
  position: absolute;
  left: ~'calc(100% - 2px)';
  top: -6px;

  display: block;

  width: 14px;
  height: 15px;
  box-sizing: border-box;

  background: rgb(189, 230, 255);
  border: 1px solid lightgray;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
