.js-slider_vertical {
  padding: 0 3.5px 0 3.5px;
  .js-slider__base {
    width: 5px;
    height: 200px;
  }
  .js-slider__connector {
    top: 0%;
    bottom: 0%;
    height: auto;
    width: 100%;
  }
  .js-slider__handler {
    left: -6px;
    top: auto;
  }
}
