.js-slider_vertical .js-slider__tooltip.js-slider__tooltip_left {
  top: auto;
  bottom: auto;
  left: auto;
  right: 140%;
  text-align: right;
  &::after {
    transform: rotate(180deg);
    top: auto;
    left: auto;
    right: -5px;
  }
}
