.slider.slider_vertical {
  padding-right: 60px;
  .slider__settings {
    top: 20px;
    bottom: auto;
  }

  &:last-of-type {
    padding-left: 60px;
    padding-right: 20px;
    .slider__settings {
      left: 0;
      right: auto;
    }
  }
}
